@import url("https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@400;700&family=Julius+Sans+One:wght@400;700&family=Source+Sans+3&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

:root {
  --non-photo-blue: #9ad1d4ff;
  --rich-black: #07141bff;
  --yale-blue: #103573ff;
  --steel-blue: #457aa2ff;
  --night: #051210;
  --oxford-blue: #0b1c30ff;

  --title-font: "Julius Sans One", sans-serif;
  --paragraph-font: "Source Sans 3", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 20px;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
}

h1 {
  font-family: var(--title-font);
  font-weight: 700;
}

/** index styles **/
.home-header {
  position: absolute;
  display: flex;
  justify-content: end;
  align-items: end;
  width: 95%;
  height: 90%;
  z-index: 1;
}

.home-header .home-navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-header .home-navbar>ul {
  list-style-type: none;
}

.home-header .home-navbar .home-navbar-item>a {
  text-decoration: none;
  color: var(--non-photo-blue);
  font-family: var(--paragraph-font);
  font-size: 1.5rem;
}

.home-header .home-navbar .home-navbar-item .home-navbar-item-link:hover {
  color: var(--steel-blue);
}

.main-section .hero-section {
  width: 100vw;
  height: 100vh;
}

.main-section .hero-section .hero-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-section .hero-section .hero-video-mobile {
  display: none;
}

.main-section .hero-section .hero-content {
  position: absolute;
  top: 45%;
  padding-left: 10%;
  color: var(--non-photo-blue);
}

.main-section .hero-section .hero-content .hero-title {
  font-size: 3.5rem;
}

.main-section .hero-section .hero-content .hero-paragraph {
  font-size: 1.6rem;
  font-family: var(--paragraph-font);
}

.main-section .home-middle-section {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--non-photo-blue);
}

.main-section .home-middle-section img {
  padding-inline-start: 5%;
}

.main-section .home-middle-section p {
  font-family: var(--paragraph-font);
  font-size: 1.2rem;
  text-align: justify;
  padding-inline: 5%;
  color: var(--rich-black);
  font-weight: bold;
}

.main-section .home-bottom-section {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.main-section .home-bottom-section .something-about-photo {
  width: 30%;
  height: 100%;
  object-fit: cover;
}

.main-section .home-bottom-section .something-about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--oxford-blue);
}

.main-section .home-bottom-section .something-about-container h2 {
  margin-bottom: 7%;
  margin-left: 10%;
  font-size: 2rem;
  font-family: var(--title-font);
  color: var(--non-photo-blue);
}

.main-section .home-bottom-section .something-about-container .something-about-paragraph-container {
  text-align: justify;
  padding-left: 20%;
  margin-right: 10%;
}

.main-section .home-bottom-section .something-about-container .something-about-paragraph-container .something-about-paragraph {
  margin-block: 2%;
  font-family: var(--paragraph-font);
  font-weight: bold;
  color: var(--non-photo-blue);
}

footer {
  background-color: var(--non-photo-blue);
  display: flex;
  justify-content: space-between;
  padding: 5%;
}

footer div .footer-paragraph {
  font-size: 1.2rem;
  font-family: var(--paragraph-font);
  font-weight: bold;
  padding-block: 2%;
  margin-left: 2%;
  color: var(--rich-black);
}

footer .social-icons-container {
  width: 30%;
  display: flex;
  justify-content: space-evenly;
}

footer .social-icons-container a i {
  color: var(--oxford-blue);
  font-size: 50px;
}

footer .social-icons-container a i:hover {
  color: var(--steel-blue);
}

.main-section .hero-section,
.main-section .home-middle-section,
.main-section .home-bottom-section,
footer {
  scroll-snap-align: center;
}

/**projects page styles**/
header .navbar {
  position: absolute;
  width: 100%;
}

header .navbar ul {
  display: flex;
  justify-content: right;
  list-style-type: none;
  width: 100%;
}

header .navbar ul .navbar-item {
  margin-inline: 2%;
  margin-block: 1%;
  font-family: var(--paragraph-font);
}

header .navbar ul .navbar-item a {
  text-decoration: none;
  color: var(--oxford-blue);
}

header .navbar ul .navbar-item a:hover {
  color: var(--steel-blue);
}

.projects-hero {
  width: 100vw;
  height: 300vh;
  scroll-snap-align: center;
}

.projects-hero .projects-hero-section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--non-photo-blue);
  color: var(--oxford-blue);
  scroll-snap-align: center;
}

.projects-hero .projects-hero-section p,
.projects-hero .projects-hero-section h1 {
  margin-inline: 5%;
}

.projects-hero .projects-hero-section p {
  font-family: var(--paragraph-font);
}

.projects-bottom-section {
  display: flex;
  align-items: center;
  scroll-snap-align: center;
  background-color: #141E28;
  scroll-snap-align: center;
}

.projects-bottom-section>img {
  width: 50%;
  height: 100vh;
  object-fit: contain;
}

.projects-bottom-section div p {
  padding-left: 10%;
  font-family: var(--paragraph-font);
  color: var(--non-photo-blue);
  padding-right: 10%;
}

.projects-bottom-section div>img {
  padding-top: 5%;
  width: 150px;
  margin-left: 8%;
}

.projects-bottom-section div {
  width: 50%;
  height: 442px;
  border-left: 4px solid var(--non-photo-blue);
}

.projects-air-section {
  scroll-snap-align: center;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--steel-blue);
}

.projects-air-section>img {
  height: 400px;
  width: 70%;
  object-fit: cover;
}

.projects-air-section div p {
  padding-left: 10%;
  font-family: var(--paragraph-font);
  color: var(--non-photo-blue);
}

.projects-air-section div h2 {
  padding-top: 5%;
}

.projects-air-section div p {
  margin-top: 2%;
  margin-left: 2%;
  padding-right: 10%;
}

.projects-air-section div>img {
  width: 250px;
  height: 80px;
  margin-left: 10%;
}

.projects-bottom-section div p a,
.projects-air-section div p a {
  text-decoration: underline;
  color: var(--non-photo-blue);
}

.projects-air-section div p a:hover {
  color: var(--yale-blue);
}

.projects-bottom-section div p a:hover {
  color: var(--steel-blue);
}

.skill-main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill-main-section h1 {
  margin-top: 8%;
  font-family: var(--title-font);
}

.skills-container {
  margin-top: 3%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 100%;
}

.skills-container div a img {
  width: 200px;
  height: 200px;
}

.skills-container div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-container div:nth-child(1n +4) {
  margin-top: 5%;
}

.skill-description {
  font-family: var(--paragraph-font);
}

.skill-main-section,
.about-main-section {
  height: 100vh;
  scroll-snap-align: center;
  background-color: var(--non-photo-blue);
  color: var(--oxford-blue);
  border-bottom: 1px solid var(--oxford-blue);
}

.about-main-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-main-section>.hero-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 84%;
  padding-top: 3%;
}

.about-main-section>.hero-section img {
  object-fit: cover;
  height: 90%;
  width: 40%;
}

.about-main-section>.hero-section div {
  width: 60%;
}


.about-main-section>.hero-section div h1,
.about-main-section>.hero-section div p {
  padding: 0 10% 2% 10%;
  text-align: justify;
}

.about-main-section>.bottom-section {
  padding-left: 6%;
}

.contact-main-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30vh;
  background-color: var(--non-photo-blue);
  color: var(--oxford-blue);
}

.contact-main-section div p {
  padding-left: 7%;
  padding-top: 8%;
  font-size: 24px;
  width: 65%;
  font-family: var(--paragraph-font);
}

.contact-main-section .social-icons-container {
  width: 15%;
  display: flex;
  justify-content: space-evenly;
}

.contact-main-section .social-icons-container a i {
  color: var(--oxford-blue);
}

.contact-footer {
  height: 70vh;
  display: flex;
  align-items: center;
  padding: 0 3% 4% 4%;
  color: var(--oxford-blue);
}

.contact-footer img {
  width: 30%;
  height: 100%;
  object-fit: cover;
}

.contact-footer form {
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
}

.contact-footer form div {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 2%;
}

.contact-footer label {
  padding-bottom: 5px;
}

.contact-footer input {
  height: 50px;
}

.contact-footer textarea {
  height: 265px;
  resize: none;
}

.contact-footer button {
  width: 30%;
  padding: 1%;
  text-align: center;
  background-color: var(--oxford-blue);
  color: var(--non-photo-blue);
}

.contact-footer button:hover {
  background-color: var(--steel-blue);
}

.contact-footer label,
.contact-footer input,
.contact-footer textarea,
.contact-footer button {
  border-radius: 5px;
  border: none;
  font-family: var(--paragraph-font);
}

@media screen and (max-width:1170px) {
  .main-section .home-bottom-section {
    flex-direction: column;
    height: fit-content;
  }

  .main-section .home-bottom-section .something-about-photo {
    display: none;
  }

  .main-section .home-bottom-section .something-about-container .something-about-title {
    margin-top: 5%;
  }

  .main-section .home-bottom-section .something-about-container .something-about-paragraph-container {
    margin-inline: 10%;
    padding: 0 0 5% 0;
  }
}

@media screen and (max-width:1080px) {
  .home-header {
    width: 100%;
    height: fit-content;
  }

  .home-header .home-navbar {
    width: 100%;
  }

  .home-header ul {
    width: 100%;
    display: flex;
    margin-top: 2%;
    justify-content: right;
  }

  .home-header ul li {
    padding-inline: 2%;
  }
}

@media screen and (max-width:780px) {

  .hero-title,
  .hero-paragraph {
    width: 90%;
  }

  .home-header ul {
    padding-left: 0;
    justify-content: center;
  }

  .main-section .home-middle-section {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .main-section .home-middle-section img {
    margin-bottom: 6%;
  }

  footer {
    flex-direction: column;
  }

  footer .social-icons-container {
    width: 100%;
  }

  footer .social-icons-container a {
    font-size: 40px;
  }

}

@media screen and (max-width:470px) {

  .home-navbar ul {
    flex-direction: column;
    padding-right: 5%;
    align-items: end;
  }
}