@import "./variables.scss";


@mixin inline-5 {
    margin-inline: 5%;
}

@mixin link {
    text-decoration: underline;
    color: $non-photo-blue;
    transition: 0.2s;
}

@mixin form-field {
    border-radius: 5px;
    border: none;
    font-family: $paragraph-font;
}