$non-photo-blue: #9ad1d4ff;
$rich-black: #07141bff;
$yale-blue: #103573ff;
$steel-blue: #457aa2ff;
$night: #051210;
$oxford-blue: #0b1c30ff;

$title-font: "Julius Sans One", sans-serif;
$paragraph-font: "Source Sans 3", sans-serif;